*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',Sans-Serif;
}
.header{
  width:100% ;
  height: 100vh;
}
.card{
  box-shadow: 0 4px 8px rgba (0,0,0,0.2);
  transition: 0.3s;
  width: 15%;
  float: left;
  margin-left: 10px;
  align-self: center;
}
.content{
  margin-top: 10%;
  margin-right: 10%;
  color:#ffffff ;
}
.content h1{
  font-size: 100px;
  line-height: 100px;
  font-weight: 900;
  font-style: italic;
}
.content p{
  max-width:500px ;
  line-height:28px ;
}
.links{
  margin-top: 30px;
}
.links a{
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}
.btn{
  border: 2px solid #ffffff;
  padding:10px 35px ;
  border-radius:30px ;
  margin-right:15px ;
}
.slide-left{
  animation: slideleft 1s linear forwards;
}
@keyframes slideleft{
  0%{
    transform: translate(100px);
    opacity: 0;
  }
  100%{
    transform: translate(0px);
    opacity: 1;
  }
.selector-for-some-widget {
  box-sizing: content-box;
}

h{
  color:#000000;
}
h1{
  color: #ffffff;
  font-stretch: italic;
}
h2{
  color:#ea0909
  font-style: italic;
}
h3{
  color:#7ae1fb;
}
h4{
  color:#7ae1fb ;
}
p{
  font-style: italic;
  color: #ffffff;
}

  
p1{
  color:#f6f7f7;
}
p2{
  color:#ffffff;
}
p3{
  color:#ffffff ;
}
p4{
  color: #ffffff;
}
p5{
  color:#ffffff ;
}
